@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2.2rem;
    font-weight: 800;
}

section{
    box-sizing: border-box;
    padding-right: 50px;
    padding-left: 50px;
}

.thin {
    font-weight: 200;
    color: #464646
}
section article p:first-of-type{
    margin-top: 36px;
}
section article p {
    font-style: italic;
    font-weight: 500;
    /*letter-spacing: 1px;*/
    line-height: 1.6;
    font-size: 1.2rem;
    color: #464646;
    margin-bottom: 20px;
}

section article *{
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    /*margin-right: 40px;*/
}
section article *:last-child{
    margin-right: unset;
}
div.vertical-line{
    height: 60px;
    border-left: 1px solid black;
}
div.horizontal-line{
    width: 60px;
    height: 0;
    border-bottom: 1px solid black;

}