main{
    text-align: center;
    height: auto;
}
div{
    background-color: #0A2C48;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 32%;
    min-height: 100%;
    display: inline-block;
    margin: 0;
    border: none;
}
div:hover{
    background-color: #2A4C68;
}
