@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");


body{
    font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-size: 1.35em;
    line-height: 1.4;
    color:var(--clr-gray);

}
:root {
    --clr-gray: #424d5d;
}

img.bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    opacity: 0.2;
    height: 780px;
}
/*HEADER*/
header{
    display: flex;
    width: 87%;
    margin: auto;
    align-items: center;
    padding: 20px 40px;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 0 0 8px 8px;
    background:white;
}
img.logo{
    height: 50px;
}
header ul{
    display: flex;
    align-items: center;
    position: relative;
}
header ul li{
    display: inline-block;
    margin-left: 24px;
}
a{
    cursor: pointer;
    text-decoration: none;
    color:var(--clr-gray);
    font-size: 24px!important;
    letter-spacing: 0.5px;
}
li.AA{
    display: inline-flex;
    background: #49a2f4;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    color:white;
    border-radius: 50%;
    font-size: 1.2em;
    padding: 6px;
    box-shadow: 5px 5px 10px 0px #49a2f4;
}
header li a{
    font-size: 1.2em;
}
li.AA a{
    color:white;
}
li.top-border{
    position: relative;
    top:-20px;
    height: 100%;
    border-top: 5px solid #49a2f4;
    box-sizing: border-box;
    align-self: flex-start;
    padding-top:5%;
}
/*SECTION CERT*/
 section.cert{
     width: 88%;
     margin: auto ;
     padding: 5%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 500px;
 }
section.cert div.wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 5%;

}

 article.cert__ingo{
     width: 57%;
     background: #2e3a4b;
     padding: 26px 23px 52px 23px;
     display: flex;
     flex-direction: column;
     gap:25px;
     border-radius: 8px;

 }
article.cert__ingo p{
    color: white;

}
article.cert__ingo h2{
    font-size: 2.2em;
    font-weight: 500;
    color: white;

}
 div.cert__img{
     text-align: right;
     width: calc(40% - 40px);
 }

 div.cert__img img{
     transform: translate(-3%, -15%) scale(1.30);
     position: relative;
     width: 30%;
 }
div.cert__img img.blue{
    transform: translate(-15%);
}
 p.cert__footer{
     color: var(--clr-gray);
 }

 /*SECTION DIPLOMA*/
section.diploma{
    margin: 160px auto;
    width: 88%;
}
section.diploma h2{
    display: block;
    text-align: center;
    font-size: 2.2em;
    margin-bottom: 50px;
    font-weight: 500;
    color: var(--clr-gray);
    letter-spacing: -0.8px;
}
article.diploma__info{
    background: #f4f5f7;
    padding: 26px 23px 52px 23px;
    display: flex;
    gap:26px;
    flex-direction: column;
    margin-bottom: 26px;
}

/*SECTION APPLY*/

section.apply{
    width: 88%;
    margin: 0 auto 100px auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background-size: cover;
    padding: 36px 23px;
    position: relative;
}
section.apply img.bg{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    height: 100%;
    z-index: -1;
    filter: brightness(40%);
    opacity:0.8;
    border-radius: 8px;
}

section.apply p{
    color: white;
    max-width: 1000px;
    margin-bottom: 50px;
}
section.apply h2{
    font-size: 2.2em;
    margin-bottom: 50px;
    font-weight: 500;
    letter-spacing: -0.8px;
    color: white;
}

div.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px
}
div.btn button{
    padding: 18px 52px;
    font-size: 1.4em;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    color:#49a2f4;

}
div.btn button.transperant{
    background: transparent;
    border: 1px solid white;
    color: white;
}
div.btn div.vertical-line{
    min-height: 40px;
    max-height: 20px;
    background: white;
    width: 2px;
}

/*FOOTER*/
footer{
    width: 88%;
    margin: 0 auto 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid black;
    padding-top: 60px;
}
footer div.logo{
    display: flex;
    align-items: center;
    gap:20px
}
footer p.small{
    color: #e4e4e4;
    font-size: 1.1em;
}
footer nav ul li{
    display: inline-block;
    margin-right: 12px;
}
footer nav ul li a{
font-size: 1.3em!important;
}
